@font-face {
    font-family: Poppins-Bold;
    src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(fonts/Poppins-Regular.ttf);

}

@font-face {
    font-family:SourceSansPro-Bold;
    src: url(fonts/SourceSansPro-Bold.ttf);
  }

  html{
      font-size: 1.125rem;
  }

  body {
     max-width: 120rem;
     margin:auto;
  }

  .container-top {
        background-color: #0000004F;
        height: 1000px;
        padding-left:10rem;
        padding-right:10rem;
        position: relative;
  }

  .header {
    height: 9.4375rem;
    border-bottom: 0.0625rem solid white;
    display:flex;
  }

  .nav-left {
    margin-top: 4rem;
    padding-bottom: 0.625rem;
    margin-bottom:3.3125rem;
    margin-left: 17.125rem;
    font-family:Poppins-Bold;
    font-size:0.75rem;
  }

  .nav-right {
    margin-top: 4rem;
    padding-bottom: 0.625rem;
    margin-bottom: 3.3125rem;
    padding-left: 10.3125rem;
  }

  .nav-left a {
    color: #FFFFFF;
    font-size: 1.0625rem;
    margin-right: 3.125rem;
    border:none;
    text-decoration: none;
    margin-bottom: 0.625rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
  }

  .nav-left a:hover {
      border-bottom: 3px solid #FFFFFF;
      padding-bottom: 0.5rem;
  }

  .nav-right a:focus {
        color: #FFFFFF;
  }



.nav-right a{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 1.0625rem;
    text-decoration: none;
    padding:1.5625rem;
    color: lightgray;
}

.search-logo{
    width: 4.0625rem;
    height: 4.0625rem;
    background-color: #446CCD;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.6875rem;
    margin-bottom: 2.6875rem;
    margin-left: 3.125rem;
    
}

.middle_box {
    width: 47.5625rem;
}

h1 {
    color:#FFFFFF;
    font-family: Poppins-Bold;
    font-size: 4.75rem;
    font-weight: bold;
    width: 47.5625rem;
    margin-top: 8.3125rem;
    margin-bottom: 0;
}

p {
    color: #FFFFFF;
    font-family: Poppins-Regular;
    font-size:1.1875rem;
    width: 47.3125rem;
    padding-bottom: 3.125rem;
    margin: 0;

}

button {
    font-family: Poppins-Bold; 
    color: #FFFFFF;
    width: 13.125rem;
    height: 4.0625rem;
    background-color: #446CCD;
    opacity: 1;
    border: none;
    font-weight: bold;

}
 .cols {
   
    width: 83.33%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 60%);
    top:60%;

}

 .col-1{

    width: 33.33%;
    height: 400px;
    float:left;

}

.right {
    background-color: #385BB2;
}

.middle {
    background-color: #446CCD;
}

.left {
    background-color:#F8F8F8;
}

.icon-phone, .icon-location, .iconCalendar {
    padding-top: 3.9375rem;
    padding-left: 3.125rem;
    padding-bottom: 0.625rem;;

}

.container-bottom{
    background-color:#FFFFFF;
    height: 62.5rem;
    padding-left:10rem;
    padding-right:10rem;
    height: 1999px;
}

.card {
    display:flex;
    padding-top: 360px;
    }

.left-column {
    width: 38.9375rem;
}

h2 {
    font-family: Poppins-Bold;
    font-size: 2.4375rem;
    padding-top: 0.5625rem;
    padding-bottom: 1rem;
}

.right-column {
    width:57.0625rem;
    padding-left: 4rem;
}

.right-column-top {
    padding-bottom:2.4375rem;
    font-family:Poppins-Regular;
    font-size: 1.1875rem;
    padding-top: 9px;
}

.right-column-bottom {
    font-family:Poppins-Regular;
    font-size: 1.1875rem;

}

.right-column-button {
    padding-top: 2.75rem;
}

.signature-container {
    display: flex;
}

.signature {
    padding-top:14px;
}

.signature-name {
    padding-left:3.8125rem;
    padding-top:2.875rem;

}


.signature-name p {
    font-family:Poppins-Regular;
    font-size:1.0625rem;
    color:#000000B3;
}

.signature-name h3 {
    font-family:Poppins-Bold;
    font-size: 1.4375rem;
    margin:0;
    padding-bottom: 0.125rem;
}

.three-columns-bottom {
    width:100%;
    padding-top: 9.9375rem;
}

.first-column {
    width: 33.33%;
    float:left;
    height: 12.8125rem;
}

.second-column {
    width: 33.33%;
    float:left;
    height: 12.8125rem;

}

    .third-column {
        width: 33.33%;
        float:left;
        height: 12.8125rem;


    }

.first-column h2 {
    border-top: 0.0625rem solid #D4D4D4;
    margin-top: 0rem;
    margin-right:3.125rem;
    font-family:Poppins-Bold;
    font-size: 2.4375rem;
    padding-top:64px;

}

.second-column h3 {
    border-top: 0.0625rem solid #D4D4D4;
    margin-top: 0rem;
    margin-right:3.125rem;
    font-family:Poppins-Bold;
    font-size: 1.6875rem;
    padding-top:3.3125rem;
    padding-bottom: 13px;
    margin-bottom: 0px;;

}

.third-column h3 {
    border-top: 0.0625rem solid #D4D4D4;
    margin-top: 0rem;
    margin-right:3.125rem;
    font-family:Poppins-Bold;
    font-size: 1.6875rem;
    padding-top:3.3125rem;
    padding-bottom: 0.8125rem;
    margin-bottom: 0rem;

}

.second-column-text{
    padding-right: 3.125rem;
    font-family: Poppins-Regular;
    font-size: 1.1875rem;
    color: #6C6C6C;
}

.third-column-text {
    padding-right: 3.125rem;
    font-family: Poppins-Regular;
    font-size: 1.1875rem;
    color: #6C6C6C;
}


  /* .nav a{
      display:block;
    color: #FFFFFF;
    float:left;
    font-size: 17px;
    padding: 50px;
    border:none;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;}*/

  
  