@font-face {
    font-family: Poppins-Bold;
    src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(fonts/Poppins-Regular.ttf);

}

@font-face {
    font-family:SourceSansPro-Bold;
    src: url(fonts/SourceSansPro-Bold.ttf);
  }

  html{
      font-size: 1.125rem;
  }

  body {
     max-width: 120rem;
     margin:auto;
  }

  .container-top {
        background-color: #0000004F;
        height: 62.5rem;
        padding-left:10rem;
        padding-right:10rem;
        position: relative;
  }

  .container {
    width: 83.40%;
    margin: auto;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

.area {
    display: flex;
    /* flex-direction:row; */
    /* flex-wrap: wrap; */

    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    margin-left: auto;
    padding-top: 64px;
    padding-bottom: 43px;
}

.navbar-component {
    border-bottom: 1px solid #FFFFFF;
}




.list {
    display: flex;
    padding-left: 274px;
    font-family: Poppins-Bold;
    font-size: 17px;
    color: #FFFFFF;
}

.list-2 {
    display: flex;
    font-family: Poppins-Bold;
    font-size: 17px;
    color: #FFFFFF;

}

.item {
    display: block;
    text-transform: uppercase;
    font-size: 0.875rem;
    
}

.item.-link {
    margin-bottom: 7px;
    border-bottom: 0.1875rem solid transparent;
    color: rgb(250, 250, 250);
    margin-right: 25px;
    margin-left: 25px;

}

.item.-link:hover {
    color: rgb(250, 250, 250);
    border-bottom-color: #FFFFFF;
}

.icon {
    position: relative;
}

span.item {
    width: 4.0625rem;
    height: 4.0625rem;
    background-color: #446CCD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1.3125rem;

}

.icon,
.icon:after,
.icon:before {
    display: block;
    width: 1.5rem;
    height: 0.1875rem;
    background-color: #555555;
    transition: background-color 0.3s linear, transform 0.3s linear;

}

.icon:after,
.icon:before {
    position: absolute;
    content: "";
}

.icon:after {
    top: 0.5rem;
}

.icon:before {
    top: -0.5rem;
}

.toggle {
    display: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 22px;
}


.toggle.active .icon {
    background-color: transparent;
}

.toggle.active .icon:before {
    transform: translateY(0.5rem) rotate(45deg);
}

.toggle.active .icon:after {
    transform: translateY(-0.5rem) rotate(-45deg);
}

.zalia {
    background-color: green;
}
  .nav-left {
    margin-top: 4rem;
    padding-bottom: 0.625rem;
    margin-bottom:3.3125rem;
    margin-left: 17.125rem;
    font-family:Poppins-Bold;
    font-size:0.75rem;
  }

  .nav-right {
    margin-top: 4rem;
    padding-bottom: 0.625rem;
    margin-bottom: 3.3125rem;
    padding-left: 10.3125rem;
  }

  .nav-left a {
    color: #FFFFFF;
    font-size: 1.0625rem;
    margin-right: 3.125rem;
    border:none;
    text-decoration: none;
    margin-bottom: 0.625rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
  }

  .nav-left a:hover {
      border-bottom: 3px solid #FFFFFF;
      padding-bottom: 0.5rem;
  }

  .nav-right a:focus {
        color: #FFFFFF;
  }



.nav-right a{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 1.0625rem;
    text-decoration: none;
    padding:1.5625rem;
    color: lightgray;
}

.search-logo{
    width: 4.0625rem;
    height: 4.0625rem;
    background-color: #446CCD;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.6875rem;
    margin-bottom: 2.6875rem;
    margin-left: 3.125rem;
    
}

.middle_box {
    width: 47.5625rem;
}

h1 {
    color:#FFFFFF;
    font-family: Poppins-Bold;
    font-size: 4.75rem;
    font-weight: bold;
    width: 47.5625rem;
    margin-top: 8.3125rem;
    margin-bottom: 0;
}

p {
    color: #FFFFFF;
    font-family: Poppins-Regular;
    font-size:1.1875rem;
    width: 47.3125rem;
    padding-bottom: 3.125rem;
    margin: 0;

}

.right-column-button button, .middle_box button {
    font-family: Poppins-Bold; 
    color: #FFFFFF;
    font-size: 0.9375rem;
    width: 13.125rem;
    height: 4.0625rem;
    background-color: #446CCD;
    opacity: 1;
    border: none;
    font-weight: bold;
    cursor: pointer;

}

.right-column-button button:hover, .middle_box button:hover {
    background-color: #053199;

}
 .cols {
   
    width: 83.33%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 60%);
    top:60%;

}

 .col-1{

    width: 33.33%;
    height: 25rem;
    float:left;

}

.right {
    background-color: #385BB2;
}

.middle {
    background-color: #446CCD;
}

.left {
    background-color:#F8F8F8;
}

.icon-phone, .icon-location, .iconCalendar {
    padding-top: 3.9375rem;
    padding-left: 3.125rem;
    padding-bottom: 0.625rem;;

}

.col-1-right-header, .col-1-middle-header, .col-1-left-header {
    padding-left: 3.125rem;
    padding-right: 3.125rem;

}

.col-1-right-header h3, .col-1-middle-header h3 {
    font-family:Poppins-Bold;
    font-size: 1.6875rem;
    color: #FFFFFF;
    padding-right: 13.375rem;
    border-top: 0.0625rem solid #FFFFFF26;
    padding-top: 1.4063rem;

}

.col-1-left-header h3 {
    font-family:Poppins-Bold;
    font-size: 1.6875rem;
    color: #060606;
    padding-right: 13.375rem;
    border-top: 1px solid #06060626;
    padding-top:1.4063rem;

}

.col-1-right-text {
    font-family: Poppins-Regular;
    font-size: 1.1875rem;
    color: #FFFFFF;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    height:4.875rem;

}

.col-1-middle-text {
    font-family: Poppins-Regular;
    font-size: 1.1875rem;
    color: #FFFFFF;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    height:4.875rem;
}



.col-1-left-text-1 {
    display: flex;
    justify-content: space-between;
    font-family: Poppins-Regular;
    font-size: 1.1875rem;
    color: #6C6C6C;
    padding-left: 3.125rem;
    padding-right: 3.125rem;

}

.col-1-right-link {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    padding-top: 0.3125rem;
}

.col-1-right-link a {
    font-family: Poppins-Bold;
    font-size: 0.9375rem;
    color: #FFFFFF;
    text-decoration: none;
}

.col-1-right-link a:hover {
    border-bottom: 3px solid #FFFFFF;
    padding-bottom: 0.3125rem;
}

.col-1-middle-link {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    padding-top: 0.3125rem;
}

.col-1-middle-link a {
    font-family: Poppins-Bold;
    font-size: 0.9375rem;
    color: #FFFFFF;
    text-decoration: none;
}

.col-1-middle-link a:hover {
    border-bottom: 3px solid #FFFFFF;
    padding-bottom: 0.3125rem;
}




.container-bottom{
    background-color:#FFFFFF;
    height: 62.5rem;
    padding-left:10rem;
    padding-right:10rem;
    height: 1999px;
}

.card {
    display:flex;
    padding-top: 360px;
    }

.left-column {
    width: 38.9375rem;
}

h2 {
    font-family: Poppins-Bold;
    font-size: 2.4375rem;
    padding-top: 9px;
    padding-bottom: 16px;
    margin:0;
}

.right-column {
    width:57.0625rem;
    padding-left: 4rem;
}

.right-column-top {
    padding-bottom:2.4375rem;
    font-family:Poppins-Regular;
    font-size: 1.1875rem;
    padding-top: 9px;
}

.right-column-bottom {
    font-family:Poppins-Regular;
    font-size: 1.1875rem;

}

.right-column-button {
    padding-top: 2.75rem;
}

.signature-container {
    display: flex;
}

.signature {
    padding-top:14px;
}

.signature-name {
    padding-left:3.8125rem;
    padding-top:2.875rem;

}


.signature-name p {
    font-family:Poppins-Regular;
    font-size:1.0625rem;
    color:#000000B3;
}

.signature-name h3 {
    font-family:Poppins-Bold;
    font-size: 1.4375rem;
    margin:0;
    padding-bottom: 0.125rem;
}

.three-columns-bottom {
    width:100%;
    padding-top: 9.9375rem;
}

.first-column {
    width: 33.33%;
    float:left;
    height: 12.8125rem;
}

.second-column {
    width: 33.33%;
    float:left;
    height: 12.8125rem;

}

    .third-column {
        width: 33.33%;
        float:left;
        height: 12.8125rem;


    }

.first-column h2 {
    border-top: 0.0625rem solid #D4D4D4;
    margin-top: 0rem;
    margin-right:3.125rem;
    font-family:Poppins-Bold;
    font-size: 2.4375rem;
    padding-top:64px;

}

.second-column h3 {
    border-top: 0.0625rem solid #D4D4D4;
    margin-top: 0rem;
    margin-right:3.125rem;
    font-family:Poppins-Bold;
    font-size: 1.6875rem;
    padding-top:3.3125rem;
    padding-bottom: 13px;
    margin-bottom: 0px;;

}

.third-column h3 {
    border-top: 0.0625rem solid #D4D4D4;
    margin-top: 0rem;
    margin-right:3.125rem;
    font-family:Poppins-Bold;
    font-size: 1.6875rem;
    padding-top:3.3125rem;
    padding-bottom: 0.8125rem;
    margin-bottom: 0rem;

}

.second-column-text{
    padding-right: 3.125rem;
    font-family: Poppins-Regular;
    font-size: 1.1875rem;
    color: #6C6C6C;
}

.third-column-text {
    padding-right: 3.125rem;
    font-family: Poppins-Regular;
    font-size: 1.1875rem;
    color: #6C6C6C;
}

.bottom-bar {
    height: 800px;
    background-color: #D8D8D8;
    margin-top: 22rem;
    width: 100%;

}

@media screen and (max-width: 995px) {

    .container {
        margin-top: 4.25rem;
        width: 100%;
    }

    .navbar-component {
        padding-top: 0.125rem;
        padding-bottom: 0.125rem;
        width: 100%;
        top: 0;
        border-bottom: none;
    }

    .area {
        flex-direction: column;
    }

    .toggle {
        display: block;
        position: absolute;
        right: 0;
        top: 0.5rem;
    }

    .list {
        display: none;
        flex-flow: column wrap;
    }

    .list-2 {
        display: none;
        flex-flow: column wrap;

    }

    .list.active {
        display: flex;
        padding-left: 0px;
    }

    .list-2.active {
        display: flex;
        padding-left: 0px;
    }

    .item {
        display: block;
        text-transform: uppercase;
        color: #555;
        font-size: 0.875rem;
    }
    span.item {
    width: 4.0625rem;
    height: 4.0625rem;
    background-color: #446CCD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;

}


}

@media screen and (max-width: 1024px) {

    .container {
        margin-top: 4.25rem;
        width: 100%;
    }

    .navbar-component {
        padding-top: 0.125rem;
        padding-bottom: 0.125rem;
        width: 100%;
        top: 0;
        border-bottom: none;
    }

    .area {
        flex-direction: column;
    }

    .toggle {
        display: block;
        position: absolute;
        right: 0;
        top: 0.5rem;
    }

    .list {
        display: none;
        flex-flow: column wrap;
    }

    .list-2 {
        display: none;
        flex-flow: column wrap;

    }

    .list.active {
        display: flex;
        padding-left: 0rem;
    }

    .list-2.active {
        display: flex;
        padding-left: 0rem;
    }

    .item {
        display: block;
        text-transform: uppercase;
        color: #555;
        font-size: 0.875rem;
    }
    span.item {
    width: 4.0625rem;
    height: 4.0625rem;
    background-color: #446CCD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;

}

.container-top {
    background-color: #0000004F;
    height: 62.5rem;
    position: relative;
    margin: auto;
    width: 100%;
    padding-left:0rem;
    padding-right: 0rem;
}

.middle_box {
    width: auto;
    margin: auto;
    padding-left:3.125rem;
}

h1 {
    color: #FFFFFF;
    font-family: Poppins-Bold;
    font-size: 4.75rem;
    width: 100%;
}
p {
    color: #FFFFFF;
    font-family: Poppins-Regular;
    font-size: 1.1875rem;
    padding-bottom: 3.125rem;
    margin: 0;
    width:100%;
}

.cols {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 60%);
    top: 140%;
    flex-direction: column;
}
.col-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.col-1-right-header, .col-1-middle-header, .col-1-left-header {
    padding-left: 3.125rem;
}

.col-1-right-text {
    font-family: Poppins-Regular;
    font-size: 1.1875rem;
    color: #FFFFFF;
    padding-left: 3.125rem;
}
.container-bottom {
    background-color: #FFFFFF;
    height: 62.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.left-column {
    width: 100%;
}

.signature-container {
    display: flex;
    flex-direction: column;
}

.signature-name {
    padding-left: 0rem;
}
.right-column {
    width: 100%;
    padding-left:0rem;
}

.three-columns-bottom {
    width: 100%;
    padding-top: 84.9375rem;
}

.first-column {
    width: 100%;
    display: flex;
    height: 12.8125rem;
    flex-direction: column;
}

.second-column {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.third-column {
    width: 100%;
    display: flex;
    height: 12.8125rem;
    flex-direction: column;
}

.bottom-bar {
    height: 50rem;
    background-color: #D8D8D8;
    margin-top: 40rem;
    width: 100%;
}
.container-bottom {
    background-color: #FFFFFF;
    padding-right: 0rem;
    padding-left:0rem;
    height: 100%;









}
